<h1><%= @meeting.subject %></h1>
<table>
	<tr>
		<td>
			Место проведения: <%= @meeting.venue.name%>
		</td>
		<td>
			Цели и задачи: <%= @meeting.description_meeting%>
		</td>
		<td>
			Время с <%= @meeting.start_date%> по <%= @meeting.finish_date%>
		</td>
		<td>
			Результаты: <%= @meeting.decription_result%>
		</td>
		<td>
			<%= link_to_attachments @meeting, thumbnails: true  %>
		</td>
		<td>
			<%= @meeting.meeting_members.map {|member| member.user.name} %>
		</td>
	</tr>
</table>